.c-diagram {
  display: block;
  background-color: white;

  &--block {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
  }

  &--title {
    color: $c_primary_alpha;
    align-self: flex-start;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0.5vr;
  }

  &--bar {
    font-size: 0.8em;
    line-height: 1;
    text-transform: uppercase;
    width: calc(100% - 2vr);
    height: 40px;
    margin-left: 2vr;
    background: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 10%);

    &::after {
      content: "";
      display: block;
      background-color: $c_primary_beta;
      width: 50px;
      margin-bottom: 10px;
      height: 90%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color 0.3s ease;
      cursor: pointer;
    }

    @for $i from 1 to 100 {
      &[data-percentage="$i"] {
        &::after {
          width: calc($i * 1%);
        }
      }
    }

    &:hover, &:focus {
      &::after {
        background-color: #aaa;
      }
    }

    &-label {
      color: $c_primary_gamma;
      font-weight: 600;
      display: flex;
      align-items: center;
      height: 40px;
      padding-left: 1vr;
      position: absolute;
      left: 0;
      justify-content: flex-end;
    }
  }
}
