[d-expandable] {
  position: relative;

  .d-expandable--toggler {
    &::before {
      position: absolute;
      right: 0;
      line-height: 2vr;
      padding: 0 1vr;
      font-size: 1vr;
      content: $i_expand;
      cursor: pointer;
    }
  }

  &[aria-expanded=false] {
    .d-expandable--toggler::before {
      content: $i_collapse;
    }
  }

  &[aria-expanded=true] {
    > p {
      display: none;
    }
  }
}
